.contact{
    padding: 0 15rem 0 15rem;
    display: flex;
    height: 90vh;
    margin-top: 2rem;
    /* margin-bottom: 20px; */
}

/* .n-left{
    margin-top: -10px;
    display: flex;
    position: relative;
} */

.n-right{
    display: flex;
    justify-content: center;
    /* align-items: center; */
    position: relative;
    flex: 1;
}

.n-right>form{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
}

.n-right .user{
    width: 20rem;
    height: 2rem;
    padding: 0.3em;
    outline: none;
    border: 2px solid var(--orange);
    border-radius: 8px;
    font-size: 16px;
}

textarea{
    height: 4rem!important;
}

.c-blur2{
    top: 1rem;
    left: 8rem;
}